<!DOCTYPE html>

<title>New Calander</title>

{% block body %}
    <h1>Create new Calander</h1>

    {{ include('calander/_form.html.twig') }}

    <a href="{{ path('calander_index') }}">back to list</a>
{% endblock %}
