<!DOCTYPE html>

<title>New PostFrum</title>

{% block body %}
    <h1>Create new PostFrum</h1>

    {{ include('post_frum/_form.html.twig') }}

    <a href="{{ path('post_frum_index') }}">back to list</a>
{% endblock %}
