<!DOCTYPE html>

<title>New Badword</title>

{% block body %}
    <h1>Create new Badword</h1>

    {{ include('badword/_form.html.twig') }}

    <a href="{{ path('badword_index') }}">back to list</a>
{% endblock %}
