<!DOCTYPE html>

<title>Edit ReservationFacceuil</title>

{% block body %}
    <h1>Edit ReservationFacceuil</h1>

    {{ include('reservation_facceuil/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reservation_facceuil_index') }}">back to list</a>

    {{ include('reservation_facceuil/_delete_form.html.twig') }}
{% endblock %}
