<!DOCTYPE html>

<title>New ReclamationFacc</title>

{% block body %}
    <h1>Create new ReclamationFacc</h1>

    {{ include('reclamation_facc/_form.html.twig') }}

    <a href="{{ path('reclamation_facc_index') }}">back to list</a>
{% endblock %}
