<!DOCTYPE html>

<title>New Evenement</title>

{% block body %}
    <h1>Create new Evenement</h1>

    {{ include('evenement/_form.html.twig') }}

    <a href="{{ path('evenements') }}">back to list</a>
{% endblock %}
