
{% extends 'baseBack.html.twig' %}

{% block title %}New Offre{% endblock %}

{% block content %}
    <h1>Create new Offre</h1>

    <div>{{ include('offre/_form.html.twig') }}</div>

    <a href="{{ path('offres') }}">back to list</a>
{% endblock %}